body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f8ebc7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff0e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #f77062;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f77062;
    border-radius: 5px 0 0 5px;
    color: #f77062;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f77062;
    color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #f94c4f;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff0e6;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-button {
    margin-left: auto;
    padding: 5px 10px;
    color: #f77062;
    cursor: pointer;
    transition: color 0.2s;
}

.delete-button:hover {
    color: #f94c4f;
}
